<div class="d-flex justify-content-between flex-column flex-sm-row gap-2">
            <a class="btn btn-light btn-icon" href="/fr_FR/checkout/select-shipping" data-test-button="Modifier le mode de livraison">
                    <svg viewBox="0 0 24 24" class="icon icon-sm flex-shrink-0" aria-hidden="true"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m15 6l-6 6l6 6"></path></svg>
                            Modifier le mode de livraison
            </a>

        <button type="submit" class="btn btn-primary btn-icon" data-test-next-step="">
            Payer <svg viewBox="0 0 24 24" class="icon icon-sm" aria-hidden="true"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m9 6l6 6l-6 6"></path></svg>
        </button>
    </div>
