<div class="mb-6">
    <div class="overflow-hidden">
        <div class="d-flex justify-content-center align-items-center position-relative">
            <img src="{{asset('media/image/homepage-image.jpg')}}" width="1920" height="50%" class="img-fluid" alt="Home">
        </div>
    </div>

    <p style="text-align:left" class="p-5 mt-4">
   <strong>
   NIMICLASS <br>
"Votre style, notre signature." <br><br>
   </strong>
Chez NIMICLASS, nous croyons que la vraie élégance réside dans le respect de soi et des autres. Nos collections sont pensées pour celles qui choisissent de mettre en avant leur personnalité et leur beauté intérieure, tout en préservant une allure digne et pudique.
<br> <br>Chaque pièce est conçue pour offrir une coupe impeccable et un confort inégalé, tout en respectant la simplicité et la discrétion, où chaque détail est pensé pour sublimer sans dévoiler.
<br> <br> Parce que l'élégance ne réside pas dans ce qui est exposé, mais dans ce qui est suggéré, nous t'offrons des vêtements qui révèlent le meilleur de toi-même, avec raffinement et respect.
    </p>
</div>
